html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, input, div {
  margin:0;
  padding:0;
}
body{
  font-family:"Arial Narrow"
}
li{
  list-style:none;
}
.header{
  height:90px;
  background-color:brown;
  color:#fff;
}
.header-logo{
  font-size:36px;
  float:left;
  padding:20px 40px;
}
.header-list{
  float:left;
}
.header-list li{
  float:left;
  padding:33px 20px;
}
.main-top{
  background-color:#fff;
  height:300px;
}
.main-top h1{
  font-size:140px;
  margin:50px 80px 0px 80px;
}
.main-top h2{
  font-size:60px;
  margin:0px 0px 0px 80px;
}
.main-top p{
  font-size:30px;
  margin:0px 0px 0px 80px;
}
.main-content{
  height:500px;
  background-color:brown;
}
